*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-top: 47px;
    margin-left: 42px;
}
.link-header{
    color: #17233D;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    margin-left: 42px;
    
}

h1{
    color: #161A49;
    font-family: Poppins;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px; 
    letter-spacing: 0.596px;
   
    
    }
p{
    color: #4B505A;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px; 
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
}
.botao-click{
    border: 1px solid #4CB538;
    background: #6FBF44;
    margin-left: 42px;
    border-radius: 6px;
    color: white;
    width: 124px;
    height: 51px;
    font-size: 20px;
    border: none;
    cursor: pointer;
   
   
}
img{
    display: inline-block;
    margin: 163px 0 0 123px

}
div{
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}
.botao-learn{
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    border: none;
    margin: 10px 0 0 30px;
    cursor: pointer;
}

@media screen and (max-width: 600px){

header{    display: none;   }
    

h1{
    text-align: center;
    font-size: 45px;
    line-height: 44px;
    letter-spacing: 0.596px;
    width: 278px;
    position: absolute;
    top: 188px;
    left: 141px;
    }

p{
text-align: center;
width: 332px;
position: absolute;
left: 123px;
top: 325px;
}


.botao-learn{
    font-size: 31px;
    letter-spacing: 1px;
    position: absolute;
    top: 571px;
    left: 167px;
}
img{

    width: 436px;
    height: 433px;
    position: absolute;
    top: 504px;
    left: -52px;
}

}








    
